<h2>About the app</h2>
<br>
<p>In this app, you can customize your own recipes via chatGPT. You may also view all the recipes that you have created on a loggedin status. </p>
<p class="text-danger">Get a great meal for yourself!</p>
